<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Nouveau post</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" name="titre" class="form-control" ngModel />
      </div>
      <div class="form-group">
        <label for="commentaire">Commentaire</label>
        <input type="text" name="commentaire" class="form-control" ngModel />
      </div>
      <button class="btn btn-primary" type="submit">
        Soumettre
      </button>
    </form>
    <!-- <p class="text-danger">{{ errorMessage }}</p> -->
  </div>
</div>
